{% extends "base.html" %}

{% block content %}
     <!-- MENU SECTION END-->
    <div class="content-wrapper">
         <div class="container">
        <div class="row pad-botm">
            <div class="col-md-12">
                <h4 class="header-line">EMPLOYEE</h4>
            </div>

        </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-success">
                        Following Employee has been deleted to the database
                    </div>
			        <div class="alert-info">
                        <h2>{{ name }}</h2>
                    </div>
			        <title>Add Emp Output</title>
                        <a href="./employee" class="btn btn-primary btn-sm center-block">Back</a>
                </div>
            </div>

    </div>
    </div>
    {% endblock %}