{% extends "base.html" %}

{% block content %}
     <!-- MENU SECTION END-->
    <div class="content-wrapper">
         <div class="container">
        <div class="row pad-botm">
            <div class="col-md-4 text-center">
                <h4 class="header-line">EDIT PROFILE</h4>
            </div>
        </div>
        <div class="row">
            <div class="form-group row">
               <div class="panel panel-info">
                        <div class="panel-heading">
                           Delete Employee Form
                        </div>
                        <div class="panel-body">
                            <form action="/deletempdb" autocomplete="on" method="post" enctype="multipart/form-data">
                                        <div class="form-group">
                                            <label>Employee ID</label>
                                            <input class="form-control" type="number" name="emp_id" autofocus size="40" readonly value="{{empD[0]}}"/>
                                        </div>
                                        <div class="form-group">
                                            <label>First Name</label>
                                            <input class="form-control" type="text" name="first_name"  readonly value="{{empD[1]}}"/>
                                        </div>
                                        <div class="form-group">
                                            <label>Last Name</label>
                                            <input class="form-control" type="text" name="last_name"  readonly value="{{empD[2]}}"/>
                                        </div>
                                        <div class="form-group">
                                            <label>Email</label>
                                            <input class="form-control" type="text" name="email" readonly value="{{empD[3]}}"/>
                                        </div>
                                   
                                        <button type="submit" class="btn btn-info center-block">Delete</button>
                                        <a href="/employee" type="button" class="btn btn-toolbar center-block">Back</a>
                            </form>
                        </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    {% endblock %}