{% extends "base.html" %}

{% block content %}
     <!-- MENU SECTION END-->
    <div class="content-wrapper">
         <div class="container">
        <div class="row pad-botm">
            <div class="col-md-4 text-center">
                <h4 class="header-line">EDIT PROFILE</h4>
            </div>
        </div>
        <div class="row">
            <div class="form-group row">
               <div class="panel panel-info">
                        <div class="panel-heading">
                           Edit Employee Form
                        </div>
                        <div class="panel-body">
                            <form action="/editempdb" autocomplete="on" method="post" enctype="multipart/form-data">
                                        <div class="form-group">
                                            <label>Enter Employee ID</label>
                                            <input class="form-control" type="number" name="emp_id" autofocus size="40" readonly value="{{emp[0]}}"/>
                                        </div>
                                    <div class="form-group">
                                       <label>Enter First Name</label>
                                       <input class="form-control" type="text" name="first_name" value="{{emp[1]}}"/>
                                   </div>
                                   <div class="form-group">
                                       <label>Enter Last Name</label>
                                       <input class="form-control" type="text" name="last_name" value="{{emp[2]}}"/>
                                   </div>
                                   <div class="form-group">
                                       <label>Enter Email</label>
                                       <input class="form-control" type="text" name="email" value="{{emp[3]}}"/>
                                   </div>
                                   <div class="form-group">
                                       <label>Phone Number</label>
                                       <input class="form-control" type="text" name="phoneNum" value="{{emp[4]}}"/>
                                   </div>
                                   <div class="form-group">
                                       <label>Enter Primary Skill</label>
                                       <input class="form-control" type="text" name="pri_skill" value="{{emp[5]}}"/>
                                   </div>
                                   <div class="form-group">
                                       <label>Enter Address</label>
                                       <input class="form-control" type="text" name="address" value="{{emp[6]}}"/>
                                   </div>
                                   <div class="form-group">
                                       <label>Enter Position</label>
                                       <input class="form-control" type="text" name="position" value="{{emp[8]}}"/>
                                   </div>
                                   <div class="form-group">
                                       <label>Enter Department</label>
                                       <select name="department" class="form-control" value="{{emp[9]}}">
                                        <option value="IT">IT</option>
                                        <option value="Marketing">Marketing</option>
                                        <option value="Sales">Sales</option>
                                        <option value="Human Resource">Human Resource</option>
                                        <option value="Finance">Finance</option>
                                        <option value="Production">Production</option>
                                    </select>
                                   </div>
                                   <div class="form-group">
                                       <label>Enter Basic Salary</label>
                                       <input class="form-control" type="text" name="basicSalary" value="{{emp[10]}}"/>
                                   </div>
                                   <div class="form-group">
                                       <label>Enter Status</label>
                                       <select name="status" class="form-control" value="{{emp[11]}}">
                                        <option value="Available">Available</option>
                                        <option value="Resignation">Resignation</option>
                                       </select>
                                   </div>
                                   <div class="form-group">
                                       <label>Enter Date of Birth</label>
                                       <input class="form-control" type="date" name="date_of_birth" value="{{emp[12]}}"/>
                                   </div>
                                   <div class="form-group">
                                       <label>Image:</label>
                                       <input type="file" name="emp_image_file" value="{{emp[7]}}" />
                                   </div>
                                        <button type="submit" class="btn btn-info center-block">Edit</button>
                                        <a href="/employee" type="button" class="btn btn-toolbar center-block">Back</a>
                            </form>
                        </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    {% endblock %}