{% extends "base.html" %}

{% block content %}
<!-- MENU SECTION END-->
    <div class="content-wrapper">
         <div class="container">
        <div class="row pad-botm">
            <div class="col-md-4 text-center">
                <h4 class="header-line">Request for Leave</h4>
            </div>
        </div>
        <div class="row">
            <div class="form-group row">
               <div class="panel panel-info">
                        <div class="panel-heading">
                           Leave Form
                        </div>
                        <div class="panel-body">
                            <form action="/leavedb" autocomplete="on" method="post" enctype="multipart/form-data">
                                        <div class="form-group">
                                            <label>Enter Employee ID</label>
                                            <input class="form-control" type="text" name="emp_id" autofocus size="40" />
                                        </div>
                                        <div class="form-group">
                                            <label>Start Date</label>
                                            <input class="form-control" type="date" name="start_date"/>
                                        </div>
                                        <div class="form-group">
                                            <label>Day of Leave</label>
                                            <input class="form-control" type="text" name="day_of_leave"/>
                                        </div>
                                        <div class="form-group">
                                            <label>Provide Reason:</label>
                                            <input class="form-control" type="text" name="reason"/>
                                        </div>
                                        <div class="form-group">
                                            <label>Date of Applied</label>
                                            <input class="form-control" type="date" name="date_of_applied"/>
                                        </div>
                                        <div class="form-group">
                                            <label>Document</label>
                                            <input class="form-control" type="file" name="emp_document_file"/>
                                        </div>
                                        <button type="submit" class="btn btn-info center-block">Create</button>
                                        <a href="/employee" type="button" class="btn btn-toolbar center-block">Back</a>
                                    </form>
                            </div>
                        </div>
            </div>
        </div>
        </div>
    </div>
    {% endblock %}
