{% extends "base.html" %}

{% block content %}
     <!-- MENU SECTION END-->
    <h2 class="display-2 text-center my-5">Employee Payroll</h2>
    <form action="/payrolldb" autocomplete="on" method="post" enctype="multipart/form-data">
        <div class="container-md text-center">
        <!-- <button type="submit">Calculate</button> -->
        <!--? Payroll Table -->
        <table id="PayrollTable" class="table table-striped table-hover text-info shadow">
            <thead>
            <tr class="text-dark">
                <th>ID</th>
                <th>Name</th>
                <th>Basic Pay(RM)</th>
                <th>Allowance(RM)</th>
                <th>EPF</th>
                <th>SOCSO</th>
                <th>Total(RM)</th>
            </tr>
            </thead>
            <tbody>
                <button type="submit">Calculate</button>
                {% for emp in emps %}
                <tr>
                    <th><input type="text" name="emp_id[]" value="{{emp[0]}}" readonly/></th>
                    <th>{{emp[1]}}{{emp[2]}}</th>
                    <th>{{emp[3]}}</th>
                    <th><input type="number" name="allowance[]" style="width:50px" value="{{emp[4]}}"/></th>
                    <th>{{emp[5]}}</th>
                    <th>{{emp[6]}}</th>
                    <th>{{emp[7]}}</th>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    </form>

{% endblock %}
